@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(37, 82, 1);
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
}
section{
    text-align: left;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 15px;
    
}
h1,p#insta{
    color: white;
}
input{
    padding: 3px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
}
